* {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #f1e9e9;
}

form {
  width: 50%;
  margin: auto;
}

input,
label,
select {
  display: block;
  margin: auto;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

h3 {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: auto;
}

table tr td {
  border-bottom: solid 1px;
  padding: 10px;
  text-align: center;
}
